version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: tecweb-postgres
    restart: always
    environment:
      POSTGRES_DB: railway
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hrFJnwIRdUmNFfGmHRxCSHWJHHxlLIRO
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: proyecto-api
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      # 👇 Coincide con lo que tu Program.cs usa cuando NO hay DATABASE_URL
      POSTGRES_DB: railway
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hrFJnwIRdUmNFfGmHRxCSHWJHHxlLIRO
      POSTGRES_HOST: postgres.railway.internal
      POSTGRES_PORT: 5432

      # JWT: usa las mismas claves que en Railway o inventa unas válidas
      JWT_KEY: 7rHnYyq8iwZ2g7r+OeCZo7L3yS4Ud6ZcM9xT1HnGzOqv3oL/0KIZ6ZSYz6F5vQnFv3uKMe1d2IQoFmg8QvFhFQ==
      JWT_ISSUER: MiApi
      JWT_AUDIENCE: MiCliente
    ports:
      - "5037:8080"  # host:contenedor → usarás http://localhost:5037
    # Opcional: si quieres ver logs en tiempo real con mejor formato:
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "10m"
    #     max-file: "3"

volumes:
  postgres_data:
